@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500;600;700&family=Newsreader:opsz,wght@6..72,500;6..72,700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

h1{
    align-self: flex-start;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    width: 100%;
    margin:0 auto;
    position: relative;
}

img{
    width: 100%;
}

form{
    width: 100%;
    margin: 1rem 0;
}

input{
    max-width: 450px;
    width: 100%;
    padding: 1rem;
}

button{
    padding: 1rem;
    background-color: #000;
    color: #fff;
    border: 0;
    font-size: 16px;
}

h2 {
    position: absolute;
    top: 400px;
    width: 500px;
    background-color: rgba(0,0,0,.7);
    color: #fff;
    padding: 20px;
    text-align: center;
    display: none;
}

p {
    position: absolute;
    top: 620px;
    right: 20px;
    width: 500px;
    background-color: rgba(0,0,0,.7);
    color: #fff;
    padding: 20px;
    text-align: left;
    display: none;
}